*.class

# Package Files #
*.jar
*.war
*.ear

#Other
work/
war/
classes/
target/
bin/
trash/
.settings/
.metadata/
Thumbs.db
tldCache.ser
SESSIONS.ser
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig
*.prefs
.classpath
.settings
.project
.externalToolBuilders
*.bak
*.iml
